body {
    background-color:#ECECEC;
 }
h1{
color: #59C1BD;
}
h3{
    color:#59C1BD;
}
 hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
 }
